//- START CONTENT_VIDEO
section.content_video
	.content_video__background
		img(src="img/colorexplosion_bg2.jpg", alt="")
	.wrap
		.content_video__wrap
			.content_video__player
				video(controls="none" width="100%" height="100%" src="img/top.mp4" poster="img/vidoeplayer_kids-01.png")
			include _subscribe
//- END CONTENT_VIDEO


//- START CONTENT_IMG
section.content_img
	img(src="img/ep110_thelastsupper-03.jpg", alt="")
//- END CONTENT_IMG


//- START CONTENT_ROBIK
section.content_robik#robik
	.content_robik__wrap
		.content_robik__text
			span Take your class on an adventure with Chris, Joy and their robot Gizmo as they travel back in time to discover Biblical truths they can use every day. Gizmo and his friends also explain Biblical history and how each story points to Jesus! Kids around the world love Superbook animated Bible adventures. Try something new and bring the Bible to life with Superbook Academy!
			br
			br
			span  Subscribe today so that you and your teachers can begin streaming videos in class and teaching directly from any connected mobile device. You can even print out lesson plans on demand. The curriculum format is flexible and can be used for all class sizes. Start each week with an exciting video to prepare your students for the lesson’s objectives. Your class will enjoy the in-depth Bible studies, fun games, and ready to print crafts that reinforce the Biblical truths.
			br
			br
			span Sign up now to gain instant access to our multi-year curriculum library.
		.content_robik__img
			img(src="img/gizmo_waving_big.png", alt="")
//- END CONTENT_ROBIK

//- START CONTENT_BLUEBOX
section.content_bluebox
	.wrap
		.content_bluebox__img
			img(src="img/screen_red_ru.png", alt="")
		.content_bluebox__text
			p Bring the Bible to life for your students with Superbook Academy for grades 1-6 (or K-5). This exciting digital Sunday School curriculum features animated Superbook® Bible adventures, and in-depth lesson plans that will challenge your students with engaging, Christ-centered learning experiences.
		.content_bluebox__inner__video
			.content_bluebox__video
				video(controls="none" width="100%" height="100%" src="img/sleep.mp4" poster="img/blue_video_poster.jpg")
			.content_bluebox__video__btn
				a(href="#!").btn.red Sing Up Now
			.content_bluebox__video__text
				p Each course consists of three lessons based on biblical SuperTruths. Your kids will view original videos, enter into prayer and worship, and participate in creative games and activities that teach the difference between knowing about God to knowing God.
//- END CONTENT_BLUEBOX

//- START CONTENT_EPISODES
section.content_episodes#episodes
	.wrap
		.content_episodes_wrap
			.content_episodes__video
				video(controls="none" width="100%" height="100%" src="img/episodes.mp4" poster="img/episodes_video_poster.jpg")
			.content_episodes__text
				h3.h3_blue SUPERBOOK EPISODES
				p Each course features an original Superbook adventure. See the Bible come to life as Chris, Joy and their robot Gizmo travel through the Bible.
//- END CONTENT_EPISODES

//- START CONTENT_MOSES
section.content_moses
	.wrap
		.content_moses__wrap
			.content_moses__text
				p When you subscribe, your teachers gain instant access to the full multi-year Superbook Academy curriculum and our complete resource library. Teachers can plan and present lessons, and stream videos directly from any connected device. Lessons can also be printed. Print out as many crafts as you need, and show the videos as often as you want. There are no limits!
				a(href="#!").btn.blue Start Your Subscription
			.content_moses__img
				img(src="img/moses.jpg", alt="")
//- END CONTENT_MOSES

//- START CONTENT_BIBLE
section.content_bible#bible
	.wrap
		.content_episodes_wrap
			.content_episodes__video
				video(controls="none" width="100%" height="100%" src="img/bible.mp4" poster="img/bible_video_poster.jpg")
			.content_episodes__text
				h3.h3_blue BIBLE BACKGROUND VIDEOS
				p Discover the archaeology and history of each Superbook adventure.
//- END CONTENT_BIBLE

//- START CONTENT_CHRISTMAS
section.content_christmas
	.wrap
		.content_moses__wrap
			.content_moses__text
				p GET INSTANT ACCESS FOR YOUR ENTIRE CAMPUS!
				p Choose either the monthly or annual subscription package. All churches pay the same affordable price per campus
				a(href="#!").btn.violet Get Instant Access
			.content_moses__img
				img(src="img/christmas.jpg", alt="")
//- END CONTENT_CHRISTMAS

//- START CONTENT_SIGNPOSTS
section.content_signposts#video
	.wrap
		.content_episodes_wrap
			.content_episodes__video
				video(controls="none" width="100%" height="100%" src="img/signposts.mp4" poster="img/signposts_video_poster.jpg")
			.content_episodes__text
				h3.h3_blue SIGNPOSTS VIDEOS
				p Learn how each Superbook adventure points to Christ, and how God’s plan of salvation is revealed to us.
//- END CONTENT_SIGNPOSTS

//- START CONTENT_CHILDREN
section.content_children
	.wrap
		.content_moses__wrap
			.content_moses__text
				p When class is over, the adventure continues for the entire family with free access to explore online games, a daily Bible Challenge, and the Superbook Bible app.
				a(href="#!").btn.red Discover More
			.content_moses__img
				img(src="img/children.png", alt="")
//- END CONTENT_CHILDREN

//- START CONTENT_MUSIC
section.content_music#music
	.wrap
		.content_episodes_wrap
			.content_episodes__video
				video(controls="none" width="100%" height="100%" src="img/sleep.mp4" poster="img/music_video_poster.jpg")
			.content_episodes__text
				h3.h3_blue MUSIC VIDEOS
				p Enter into joyful praise and worship with original songs and updated familiar favorites.
//- END CONTENT_MUSIC

//- START CONTENT_MUSIC
section.content_list
	.wrap
		.content_list__wrap
			h2 SUPERBOOK ACADEMY IS READY TO USE THE MOMENT YOU SIGN UP, SO YOUR TEAM WILL BE READY FOR SUNDAY MORNING IN NO TIME!
			ul.content_list__ul
				.img_li
				li Teach God’s plan for redemption from Genesis to Revelation
				.img_li
				li Teach God’s plan for redemption from Genesis to Revelation
				.img_li
				li Teach God’s plan for redemption from Genesis to Revelation
				.img_li
				li Teach God’s plan for redemption from Genesis to Revelation
				.img_li
				li Teach God’s plan for redemption from Genesis to Revelation
				.img_li
				li Teach God’s plan for redemption from Genesis to Revelation
			a(href="#!").btn.red Save 50$ and Sing up for a Year
//- END CONTENT_MUSIC

//- START FOOTER
footer.footer
	.wrap
		.footer__wrap
			.footer__copuright
				span © Copyright 2016 The Christian Broadcasting Network.
//- END FOOTER
