section.content_video
	.content_video__background
		img(src="img/colorexplosion_bg_big.jpg", alt="")
	.wrap
		.content_video__player
			video(src="")
		.content_video__subscribe
			form(action="#")
				input(type="text" name="name" placeholder="Имя")
				input(type="email", name="email" placeholder="Email")
				input(type="submit", value="Отправить")
section.test