<!--build:js js/main.min.js-->
<!--bower:js-->
<script src="wendor/jquery/dist/jquery.js"></script>
<script src="wendor/all4site-jqueryui/jquery-ui.js"></script>
<script src="wendor/all4site-slick_menu/dist/slick_menu.js"></script>
<script src="wendor/all4site_scroll_top/dist/scroll_top_page.js"></script>
<script src="wendor/all4site_mobile_menu/dist/mobile_menu.js"></script>
<script src="wendor/mediaelement/build/mediaelement-and-player.js"></script>
<!--endbower-->
script(src="js/main.js")
<!--endbuild-->