nav#menu_top_big.menu_scroll
	.wrap
		.menu_top_big__wrap
			.menu_top_big__logo
				a(href="#!" target="_blank")
					img(src="img/SA_Logo_ru.png", alt="")
			.menu_top_big__navbar
				ul.menu_top_big__links
					a(href="#robik" data-target="menu")
						li Робик
					a(href="#episodes" data-target="menu")
						li Эпизоды
					a(href="#bible" data-target="menu")
						li Библия
					a(href="#video" data-target="menu")
						li Видео
					a(href="#music" data-target="menu")
						li Песня
			.menu_top_big__donate
				a(href="#!").btn_donate пожертвовать
			.menu_top_big__lang
				a(href="index.html").active_lang ru
				.menu_top_big__hr
				a(href="index_ua.html") ua