nav#menu_top_big.menu_scroll
	.wrap
		.menu_top_big__wrap
			.menu_top_big__logo
				a(href="#!" target="_blank")
					img(src="img/SA_logo.png", alt="")
			.menu_top_big__navbar
				ul.menu_top_big__links
					a(href="#!" data-target="menu")
						li.active Ссылка 1
					a(href="#!" data-target="menu")
						li Ссылка 2
					a(href="#!" data-target="menu")
						li Ссылка 3
					a(href="#!" data-target="menu")
						li Ссылка 4
					a(href="#!" data-target="menu")
						li Ссылка 5
					a(href="#!" data-target="menu")
						li Ссылка 6