.content_video__subscribe
	.content_video__subscribe__text
		span.h1 TRY SOMETHING NEW & EXCITING!
		span Instantly upgrade your Sunday, try a free course now!
		form(action="#").content_video__subscribe__form
			input(type="text" name="name" placeholder="Имя" class='input_text')
			input(type="email", name="email" placeholder="Email" class='input_text')
			input(type="submit", value="Отправить")